# Maven build
bin/
target/


# TestNG reports
test-output/

# Eclipse files
.classpath
.project
.settings/

# Logs
*.log

# Compiled class files
*.class

# Archive files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Crash logs
hs_err_pid*
replay_pid*